/*body {background: #073249; font-size: 75%;}*/
body {background-color: #817865; font-size: 75%;}
.container {border: 3px solid #ffffff; -moz-border-radius: 8px; -webkit-border-radius: 8px; /*min-height:600px;*/}
#main { min-height:600px; }
body.login {background: white;}
table { border: 3px solid ; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #feeebd;}
/*table { border-collapse:collapse; }*/
td,th {text-align:center; padding:6px;}
td.record { text-align:left; padding-left:3em;} 
td.vtop {vertical-align: top;}
th {background-color:#817865; color:white; font-weight:bold; font-size:1.2em;}
tr.user { background-color:#eeb420; color:black;}
.container {background: #ffffff;}

#challengesTable tr.other_challenges { /*font-style:italic;*/ }

table.settings {border:3px solid;}
table.settings td {text-align: left; font-size: 1.2em;}
table.settings input, table.settings select {font-size: 1.0em;}
table.settings input[type="text"], input[type="password"] { width: 20em;}
table td {color:#4c3000; font-weight:bold;}
table.login td  {font-size:1.6em;}
table.login input {font-size:1.0em; width: 15em}
div.toolbar * {color: white; font-size:1.2em; font-weight:bold;}
div.toolbar a {text-decoration:none;}
div.toolbar {background: #817865;}
a {color: #0074c7;}

button.mediumButton, button.challengeButton, button.forfeitButton, button.resultButton, button.reviewButton {font-size: 0.8em;}

span.muted_time {color: gray; font-size:0.8em;}
.settings_tf {width:80%;}

body.login .label {text-align: left; padding-left:15px;} 
body.login .entry {padding-right:15px;} 

#footer {
width:950px;
text-align: center;
height: 40px;
padding-top: 10px;
margin: -50px auto 0 auto;
}

/* Elements that may be the furthest down the page should add this class
 * to insure that the foot doesn't overwrite them */
.bottom_box { margin-bottom: 60px; }
